TPXML2/dtd/recettes.dtd

<!--  recettes.dtd -->
<!ELEMENT recettes (rubrique)+>
<!ELEMENT rubrique (nom,(recette)+)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT recette (nom, temps?, ingrédients, préparation)>
<!ELEMENT nom  (#PCDATA) >
<!ELEMENT temps (#PCDATA)>
<!ELEMENT ingrédients (#PCDATA | item)*>
<!ELEMENT préparation (#PCDATA | item)*>
<!ELEMENT item (#PCDATA) >