TPXML1/dtd/famille.dtd

<!--  famille.dtd -->
<!ELEMENT famille (note?, (famille* | animal+)) >
<!ELEMENT note (#PCDATA) >
<!ATTLIST famille id ID #REQUIRED>
<!ELEMENT animal EMPTY>
<!ATTLIST animal id ID #REQUIRED>
<!ATTLIST famille 
	nom CDATA #IMPLIED
	responsable NMTOKEN #REQUIRED 
	>
<!ATTLIST animal 
	nom CDATA #IMPLIED
	sexe  (F | M) 'F'
    date-naissance CDATA #IMPLIED
    poids CDATA #IMPLIED
    taille CDATA #IMPLIED
    espece  NMTOKEN #REQUIRED 
    >