TPXML1/dtd/test.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT commentaire (#PCDATA)>
<!ELEMENT dauphin (nom?, sexe?, taille, poids)>
<!ATTLIST dauphin
	id ID #REQUIRED
	date-naissance CDATA #IMPLIED
>
<!ELEMENT dauphins (dauphin+)>
<!ELEMENT mammifères-marins (dauphins)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT poids (#PCDATA)>
<!ATTLIST poids
	unité CDATA #REQUIRED
	statut CDATA #IMPLIED
>
<!ELEMENT poissons (selaciens)>
<!ELEMENT requin (nom?, sexe?, taille, poids, commentaire?)>
<!ATTLIST requin
	id ID #REQUIRED
	espèce CDATA #REQUIRED
	date-naissance CDATA #IMPLIED
	nom-savant CDATA #IMPLIED
>
<!ELEMENT selaciens (requin+)>
<!ELEMENT sexe (#PCDATA)>
<!ELEMENT taille (#PCDATA)>
<!ATTLIST taille
	unité (cm|kg) 'kg'
>
<!ELEMENT test (mammifères-marins, poissons)>
